@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 3rem;
        color: rgb(209, 26, 35);
        margin-bottom: 0.75rem
    }

    .form-container {
        @include flex-column(1rem);
        min-width: 350px;
        border: 4px solid transparent;
        border-radius: 2rem;
        padding: 2rem;
        transition: all ease 0.3s;
        &:hover{
            border: 4px solid rgb(209, 26, 35);
            box-shadow: 5px 5px 100px rgb(209, 26, 35);
        }
    }

    form {
        @include flex-column(1rem);

        input{
            border: none;
            outline: none;
            padding-inline: 1rem;
            padding-block: 0.75rem;
            border-radius: 1rem;
        }
    }
}