* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body, #root {
  height: 100%;
  width: 100%;
}
html{
  background-color: rgb(41, 41, 41);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notes{
display: flex;
flex-wrap: wrap;
gap: 1rem;
padding-block: 1rem;
padding-inline: 3rem;
}
.note{
  background-color: black;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 25rem;
  color: rgb(255, 176, 57);
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}
.buttons{
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
}